<header>
    <nav class="navbar-expand-sm navbar-toggleable-sm ng-white border-bottom box-shadow mb-3 navbar navbar-light">
        <div class="container">
            <a class="navbar-brand" href="/">Your Finances</a>
            <button aria-label="Toggle navigation" type="button" class="mr-2 navbar-toggler">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="d-sm-inline-flex flex-sm-row-reverse collapse navbar-collapse">
                <ul class="navbar-nav flex-grow">
                    <li class="nav-item">
                        <NavLink class="nav-link text-dark" href="accounts">
                            Accounts
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link text-dark" href="calendars">
                            Calendars
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link text-dark" href="categories">
                            Categories
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link text-dark" href="roles">
                            Roles
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link text-dark" href="transactions">
                            Transactions
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link text-dark" href="importdata">
                            Import Data
                        </NavLink>
                    </li>
                </ul>
            </div>
        </div></nav>
</header>